#creature-form {
    background: #eeeeee;
    padding: 20px;
    margin: 50px;
}

#creature-list {
    background: rgb(227, 245, 237);
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 50px;
}

#creature-form div {
    margin-bottom: 10px;
}

#creature-list > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.creature-body {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 120px;
    height: 120px;
    position: relative; /* Wings need this */
}

/* Eyes */
.eye {
    height: 18px;
    width: 10px;
    border: 2px solid #000;
    border-radius: 10px;
    background: #fff;
}

/* Mouth */
.mouth {
    width: 30px;
    height: 12px;
    background: #fff;
    border: 2px solid #000;
    border-radius: 0 0 20px 20px;
}

