body {
  background-image: url("OA.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}


#miffy {
  width: 500px;
  margin-top: 500px;
  margin-left: 650px;
}

#huh {
  margin-bottom: 200px;
  margin-right: 100px;
}


h1,
h2 {
  background-color: rgb(30, 55, 33);
  color: #9bb396;
  font-family: sans-serif;
  padding: 20px;
  width: 80%;         
  max-width: 1500px;   
  margin: 20px auto;  
  text-align: center;     
}
