body {
  background-image: url(OA.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

#Miffy {
  width: 500px;
  margin-top: 500px;
  margin-left: 650px;
}

#huh.images {
  margin-bottom: 200px;
  margin-right: 100px;
}

#speech {
  width: 500px;
  ;
  margin-bottom: 400px
}

h1,
h2 {
  background-color: rgb(30, 55, 33);
  padding: 20px;
  width: 1500px
}

H1,
H2 {
  color: #9bb396;
  font-family: sans-serif;
}

.images {
  display: flex;
  height: 200px;
  align-items: center;
  margin-top: 400px;
}
.lead {
 background-color: rgb(30, 55, 33);
  padding: 20px;
  width: 1500px;
  color: #9bb396;
  font-family: sans-serif;
}