body {
    background-color: #d7e9d9;
}

h1 {
    text-align: center;
    font-family: 'Arial Black', sans-serif;
    color: green;
}

h4 {
    text-align: center;
    font-family: 'Arial Black', sans-serif;
}
#lantern {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.block-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px; 
    flex-wrap: wrap; 
}

.nice-block {
    height: 40px;
    overflow: hidden;
    width: 200px;
    padding: 10px;
    background: rgb(149, 180, 100);
    margin: 20px;
    border-radius: 10px;
}

.nice-block span {
    cursor: pointer;
    color: rgb(77, 90, 2);
}
.nice-block img {
  width: 100%;
}
.more {
    height: auto;
    overflow: visible;
}
