
body {
    background-image: url(OA.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: #9bb396;
    font-family: sans-serif;
}

#miffy {
    width: 500px;
    margin-top: 500px;
    margin-left: 650px;
}

#huh {
    margin-bottom: 200px;
    margin-right: 100px;
}

h1,
h2 {
    background-color: rgb(30, 55, 33);
    padding: 20px;
    width: 80%;
    max-width: 1500px;
    margin: 20px auto;
    text-align: center;
}

.images {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 200px;
}
.lead {
 background-color: rgb(30, 55, 33);
  padding: 20px;
  width: 1500px;
  color: #9bb396;
  font-family: sans-serif;
}