body {
    background-image: url(OA.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}


#miffy {
    width: 320px;
    max-width: 45%;
    height: auto;
}

.images #huh {
    max-width: 280px;
    height: auto;
}

#speech {
    width: 300px;
    margin-bottom: 24px;
}

.text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 20px auto;
}

h1,
h2,
#output {
    background-color: rgb(30, 55, 33);
    padding: 20px;
    max-width: 980px;
    margin: 0 auto 12px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #9bb396;
    font-family: sans-serif;
}

.images {
    display: flex;
    align-items: center;
    margin-top: 24px;
    gap: 18px;
    flex-wrap: wrap;
}
.lead {
 background-color: rgb(30, 55, 33);
  padding: 20px;
  width: 1500px;
  color: #9bb396;
  font-family: sans-serif;
}